<link rel="stylesheet" href="/page.css">
<div class="Blog-head">
    <h1>My Blog</h1>
</div>
    <article class="blog-content">
        <h2>Blog Title</h2>
        <p><%= Post.content %></p>
    </article>
    <div id="post-list-container">
        <ul>
            <%if(Post)
            {%>
                <%- include('_comment'); %>
            <%}
            %>
        </ul>
   </div>