<link rel="stylesheet" href="/page.css">
<link rel="stylesheet" href="/navbar_other.css">
<link rel="stylesheet" href="/comment.css">
<%- include('_navbar_other.ejs'); %>
    <article class="blog-content">
        <h2><%= Post.title %></h2>
        <p><%= Post.content %></p>
    </article>
    <div id="post-list-container">
        <ul>
            <%if(Post)
            {%>
                <%- include('_comment'); %>
            <%}
            %>
        </ul>
   </div>